.container{
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
   
   
.blogcard{
    background-color:#ffcccc;
    color: black;
    width: 250px;
    height: auto;
    border-radius: 20px;
    padding:10px;
    box-shadow: 0 0 10px #ff3333;
    border: 1px solid #ff3333;
    margin: 10px;
    text-decoration: none;
    margin: 0 50px;
}
}
.title{
    text-align: center;
    color: black;
    padding: 0;
    
}
.pre-content{
    font-size: 20px;
    padding: 0;
    text-align: center;
}
.founder{
    display: flex;
    align-items: center;
    margin: 2px 15px;
}
.avatar{
    height:200px;
    width:auto;
    border-radius: 50%;
    border: 1px solid white;
margin-left: 30px;
}
.founder-name{
    font-style: italic;
    font-size: 15px;
    margin:0 10px;
}

.button{
    height: 40px;
    width: 150px;
    background-color: #ff3333;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50px;
    align-content: center;
 margin: 0 50px;
 cursor: pointer;
}

.prize{
   text-align: center; 
}

.specification{
    background: black;
    color:  #ff3333;
    margin :17px 25px;
    padding:2px 10px;
    border-radius: 10px;
    font-size: 20px;
  text-align: center;
}
